@mixin tsp-input($width, $height, $padding: 5px) {
    width: $width;
    height: $height;
    padding: $padding;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.IndexInput {
    @include tsp-input(40px, 40px, );
    text-align: center
}

.ContentInput {
    @include tsp-input(80%, 100px, );
    resize: none;
}

.OptionTextInput {
    @include tsp-input(100%, auto, );
}

.Accept {
    position: absolute;
    top: 20px;
    right: 70px;
    width: 40px;
    cursor: pointer;
}

.Delete {
    position: absolute;
    width: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.EditQuestion {
    background-color: rgb(241, 241, 241);
    width: 600px;
    color: black;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 25px;

    * {
        outline: none;
    }

    .Index {
        position: absolute;
        left: 5px;
        top: 10px;
        $size: 40px;
        width: $size;
        height: $size;
        background-color: rgba(180, 180, 180, 0.274);
        border-radius: 50%;
        .IndexValue {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
        }
    }
    .Content {
        padding-left: 40px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .Options {
        .Option {
            width: 100%;
            background-color: rgba(128, 128, 128, 0.125);
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 10px;
            transition-duration: 300ms;
            display: flex;
            align-items: center;
            column-gap: 10px;
            &:hover {
                background-color: darken(rgba(128, 128, 128, 0.125), 40%);
            }

            .OptionText {
                flex-grow: 1;
            }
            .OptionCheckDiv {
                .OptionCheck {
                    width: 20px;
                    height: 20px;
                }
            }
            .DeleteOption {
                width: 25px;
                cursor: pointer;
            }

        }

        .OptionCorrect {
            background-color: greenyellow;
            &:hover {
                background-color: darken(greenyellow, 20%);
            }
        }
        .OptionWrong {
            background-color: lightcoral;
            &:hover {
                background-color: darken(lightcoral, 20%);
            }
        }
    }
    .AddOption {
        width: 50%;
        padding: 10px;
        background-color: yellowgreen;
        margin: auto;
        border-radius: 5px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition-duration: 300ms;
        &:hover {
            background-color: lighten(yellowgreen, 10%);
        }
    }
}